## Tex file outputs
*.aux
*.fdb_latexmk
*.fls
*.gz
*.log
*.pdf
*.synctex.gz
*.bbl
*.blg
*.out

## Python Cache folders
__pycache__/

## Xournal files
*.xoj

## Ignore my Facebook messages
# Ignores both the exported .txt file and the raw JSON files
**/dat/*.txt
**/dat/messages/*
